.starRating {
	display: inline-flex;
	gap: 2px;
}

.star {
	cursor: default;
}

.starIcon {
	width: 16px;
	height: 16px;
}

.filled {
	fill: var(--rating-color);
}

.empty {
	fill: var(--badges-color);
}