:root {
	font-family: Inter, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--main-color: #101828;
	--text-color: #475467;
	--grey-color: #6c717b;
	--grey-light-color: #dadde1;
	--button-color: #e44848;
	--button-hover-color: #d84343;
	--rating-color: #ffc531;
	--badges-color: #f2f4f7;
	--inputs-color: #f7f7f7;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--main-color);
}

body {
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--white-color);
}

a {
	text-decoration: none;
	color: var(--main-color);
}

img {
	display: block;
	max-width: 100%;
}

button {
	font-family: Inter, sans-serif;
	cursor: pointer;
	line-height: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: -0.01em;
}

ul,
ol {
	list-style: none;
	padding: 0;
}
